header {
    display: flex;
}

header h5{
    float:left;
}

.logout {
    background-color: transparent;
    border-color: transparent;
    color: red;
    font-size: 18px;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
}
.logout:hover {
    background-color: transparent;
    border-color: transparent;
    font-size: 18.5px;
    font-family: Verdana, Tahoma, sans-serif;
}
.logout:active {
    background-color: transparent;
    border-color: transparent;
}

.produtos {
    position: relative;
}