body {
    background-color: #07A0C3 !important;
}

br {
    user-select: none;
}

.login {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.form {
    background-color: #086788;
    padding: 10px;
    margin: 5px;
}

.form h5 {
    text-align: left;
    font-weight: bold;
    color: #FFF1D0;
}

.form label{
    font-size: 22px;
    color: #FFF1D0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

.form input {
    width: 300px;
    text-align: center;
    border-radius: 5px;
}

.form a:hover {
    color: #DAD3BE;
}

.esqueceu-senha {
    text-align: right;
}

.criar-conta a {
    color: #2A2A2A;
    font-family: sans-serif, serif;
}

.criar-conta a:hover {
    color: #FF6F3D;
}

.btn-entrar {
    background-color: #7DDA58;
    border: 0;
    width: 300px;
    border-radius: 5px;
    font-size: 25px;
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

.btn-entrar:hover {
    background-color: #59EB1E;
}

.btn-entrar:active {
    background-color: #4AEC0B;

}