body {
    background-color: #DAD3BE !important;
}

section {
    display: inline-block;
}

section h5 {
    font-family: 'Franklin Gothic Medium';
}

.opcoes {
    margin-top: 20px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: #925f35;
    padding: 20px 0px 20px 15px;
}

.inicio a {
    color: Black;
    font-size: 18px;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
}
.inicio a:hover {
    text-decoration: underline;
    font-family: Verdana, Tahoma, sans-serif;
}

.configuracoes a {
    color: Black;
    font-size: 18px;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
}
.configuracoes a:hover {
    text-decoration: underline;
    font-family: Verdana, Tahoma, sans-serif;
}

.logout a {
    color: red;
    font-size: 18px;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
}
.logout a:hover {
    text-decoration: underline;
    font-family: Verdana, Tahoma, sans-serif;
}

#conteudo h1 {
    font-family: 'Franklin Gothic Medium';
}

.produtos a {
    color: Black;
    font-size: 18px;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
}
.produtos a:hover {
    text-decoration: underline;
    font-family: Verdana, Tahoma, sans-serif;
}

.fornecedores a {
    color: Black;
    font-size: 18px;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
}
.fornecedores a:hover {
    text-decoration: underline;
    font-family: Verdana, Tahoma, sans-serif;
}

.btn-adicionar {
    border-style: none;
    background-color: #097031;
    color: White;
    font-size: 30px;
}
.btn-adicionar:hover {
    background-color: #925f35;
}

#form-pesquisar {
    display: inline;
}

.formulario {
    display: inline-flex

}

input:focus {
    box-shadow: none !important;
}

.formulario input, .formulario button {
    border-radius: 0px;
}

.form-check {
    margin: 5px;
}

.op-pesquisa {
    display: flex;
    justify-content: flex-start;
}

.input-text {
    width: 200px !important;
}

.table {
    --bs-table-bg: #925f35 !important
}

thead th {
    color: White !important;
    text-align: center;
}

tbody td {
    text-align: center;
}

.acoes-produto button {
    background-color: transparent;
    border-color: transparent;
}